body{
    background-color: #FBF8F2;
}
nav,footer{
    background-color: #93634C;
    color: #FBF8F2;
}
.navbar a{
    
    color: #FBF8F2;
}
.navbar a:hover{
    color: #FBF8F2;
}
h1,h2,h3,h4,h5,th{
    color: #4b281e;
}
.each-order img{
    width: 20vw;
    height: 30vh;
} 

input[name='filter']{
    background-color: #93634C;
}